* {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Inconsolata', monospace;
}

main {
	padding-top: 73px;
	line-height: 2rem;
	background-color: #E7ECE7;
}

section{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

ul {
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
}

p {
	font-family: 'Open Sans', sans-serif;
}

img.avatar {
	height: auto;
	width: 400px;
}

.hidden {
	display: none;
}

.m-auto {
	margin: 0.5rem auto;
}