article.bio {
	margin: 1rem auto;
	text-align: center;
}


@media only screen and (min-width: 1000px) {
	article.bio {
		margin: 1rem auto;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	div.bio-summary {
		margin: 0 3rem;
	    width: 50%;
	}

}