article.bio {
	margin: 2rem auto 1rem auto;
	text-align: center;
	font-size: small;
}

.hero h1 {
	font-size: 22px;
}

.hero h2 {
	text-align: center;
	margin: 4rem auto 0 auto;
	font-size: 20px;
}

@media only screen and (min-width: 1000px) {
	.hero {
		height: 87vh;
		min-height: 700px;
	}

	.hero h1 {
		line-height: 1.25;
		font-size: 30px;
	}

	.hero h2 {
		text-align: center;
		margin: 5rem auto 2rem auto;
		font-size: 25px;
	}

	article.bio {
		margin: 1rem auto 5rem auto;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-size: initial;
	}

	div.bio-summary {
		margin: 0 3rem;
	    width: 50%;
	}

}