a.contact-link > i {
	background: none;
	color: #eb6a07;
	transition: all 0.25s ease-in-out 0s;
	padding: 1px 5px;
}

a.contact-link > i:hover {
	transform: scale(1.1);
	background: #eb6a07;
	color: white;
	transition: all 0.25s ease-in-out 0s;
	border-radius: 5px;
}

a.contact-link:visited {
	color: #eb6a07;
}

li.contact-email {
	font-size: 16px;
	color: #003500;
}