a.contact-link > i {
	color: #FFB732;
	transition: color 0.5s linear;
}

a.contact-link > i:hover {
	color: #2e3838;
}

a.contact-link:visited {
	color: #FFB732;
}

li.contact-email {
	font-size: 16px;
	color: #003500;
}