nav {
	text-align: center;
    font-size: 20px;
    padding: 2rem 4rem 2rem 4rem;
    background-color: lightgoldenrodyellow;
}

nav:after {
	background-color: inherit;
	top: 0;
	content: '';
	display: block;
	height: 35%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(18deg);
	transform-origin: 100% 100%;
	z-index: -1;

}

div.nav-bar {
	display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

nav li {
	display: inline-block;
}

nav i {
	float: right;
	padding: 0.5rem;
}

nav a {
	color: black;
	transition: color 0.5s;
	z-index: 1;
}

nav a:hover {
	color: #eb6a07;
}

nav a:visited {
	text-decoration: none;
}

.menu-drop {
	transform: translateY(-150%);
	transition: 0.5s ease-in;
}

.nav-profile {
	font-size: 30px;
	color: black;
	transition: color 0.5s;
}

.nav-profile:hover {
	color: #eb6a07;
}

@media only screen and (max-width: 1000px) {
	nav {
		font-size: 20px;
    	padding: 3rem 2rem 0 2rem;
	}
}

@media only screen and (min-width: 1700px) {
	nav:after {
		height: 80%;
	}
}