nav {
	text-align: center;
    font-size: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #2e3838;
    border-bottom: 1px solid #E7ECE7;
    z-index: 10;
}

div.nav-bar {
	display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 3rem;
}

nav li {
	display: inline-block;
}

nav i {
	float: right;
	padding: 0.5rem;
}

nav a {
	color: white;
	transition: color 0.5s;
}

nav a:hover {
	color: #eb6a07;
}

nav a:visited {
	text-decoration: none;
}

.menu-drop {
	transform: translateY(-150%);
	transition: 0.5s ease-in;
}

.nav-profile {
	font-size: 30px;
	color: white;
	transition: color 0.5s;
}

.nav-profile:hover {
	color: #eb6a07;
}