article.project-tile {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: aliceblue;
	border-radius: 5px;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 5rem;
}

div.tile-head {
	width: 50%;
	margin-left: 2.5rem;
	padding: 0.5rem 1rem;
	border-left: 5px solid #eb6a07;
}

div.tile-head > h2 {
	font-size: 28px;
}

div.img-wrapper {
	width: 50%;
	padding: 1rem 2.5rem;
}

div.img-wrapper > a > img {
	width: 100%;
	transition: all 0.25s ease-in-out;
}

div.img-wrapper > a > img:hover {
	opacity: 0.75;
}

ul.tech > li {
	margin-bottom: 0.5rem;
    color: white;
    padding-right: 0.5rem;
    font-weight: 600;
    font-size: large;
}

ul.tech > li:after {
	content: ',';
}

ul.tech > li:last-child:after {
	content: '';
}

ul.tech > :last-child {
	margin-right: 0;
}

ul.links {
	margin: 1rem auto;
}

ul.links > li {
	margin: 0.5rem;
}

.link-button {
	min-width: 5rem;
	letter-spacing: 1px;
	font-size: larger;
	font-weight: 600;
	color: #eb6a07;
	padding: 0.25rem 1rem;
	transition: all 0.5s ease-out 0s;
	position: relative;
	z-index: 2;
	outline: 2.5px solid #eb6a07;
	text-transform: uppercase;
}

.link-button:hover {
	box-shadow: none;
	color: white;
}

.link-button::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 100%;
	background-color: #eb6a07;
	transition: all 0.5s ease-out 0s;
	z-index: -1;
}

.link-button:hover::after {
  	width: 100%;
}

@media only screen and (max-width: 1000px) {
	article.project-tile {
		border-radius: 0;
	}

	div.tile-head {
		margin-left: 1rem;
	}

	ul.tech > li {
		font-size: small;
	}

	div.img-wrapper {
		padding: 1rem;
	}

	.article-align {
		padding: 0 1rem;
	}

	.link-button {
		font-size: small;
	}
}