article.project-tile {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: aliceblue;
	border-radius: 5px;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 5rem;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.5);
}

article.project-tile:last-child {
	margin-bottom: 2rem;
}

div.tile-head {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	height: 100%;
	width: 50%;
	margin-left: 2.5rem;
	padding: 0.5rem 1rem;
}

div.tile-head:nth-child(2n) {
	align-items: flex-end;
	margin-left: 0;
	margin-right: 2.5rem;
}

div.tile-head > h2 {
	font-size: 28px;
	margin-bottom: 0;
}

div.tile-head > p {
	height: 100%;
}

div.img-wrapper {
	width: 50%;
	padding: 1rem 2.5rem;
}

div.img-wrapper > a > img {
	width: 100%;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
	transition: all 0.25s ease-in-out;
/*fixes an image 'bounce' in Chrome when opacity changes*/
	-webkit-backface-visibility: hidden;
}

div.img-wrapper > a > img:hover {
	opacity: 0.75;
}

ul.tech > li {
	margin-bottom: 0.5rem;
    color: coral;
    padding-right: 0.5rem;
    font-weight: 600;
    font-size: large;
}

ul.tech > li:after {
	content: ',';
}

ul.tech > li:last-child:after {
	content: '';
}

ul.tech > :last-child {
	margin-right: 0;
}

p.summary-bottom {
	display: none;
	order: 3;
	text-align: left;
}

ul.links-bottom {
	display: none;
	order: 4;
	margin: 1rem 0.5rem;
}

ul.links {
	margin: 1rem auto;
}

ul.links > li, ul.links-bottom > li {
	margin: 0.5rem;
}

div.link-button {
	min-width: 5rem;
	letter-spacing: 1px;
	font-size: larger;
	font-weight: 600;
	color: #eb6a07;
	padding: 0.25rem 1rem;
	transition: all 0.5s ease-out 0s;
	position: relative;
	z-index: 2;
	outline: 2.5px solid #eb6a07;
	text-transform: uppercase;
}

div.link-button:hover {
	box-shadow: none;
	color: white;
}

div.link-button::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 100%;
	background-color: #eb6a07;
	transition: all 0.5s ease-out 0s;
	z-index: -1;
}

div.link-button:hover::after {
  	width: 100%;
}

@media only screen and (max-width: 1020px) {
	article.project-tile {
		border-radius: 0;
		flex-direction: column;
		margin-bottom: 1rem;
	}

	div.tile-head {
		order: 1;
		margin: 0;
		width: 100%;
		text-align: left;
		padding: 0 1rem;
	}

	div.tile-head:nth-child(2n) {
		align-items: flex-start;
		margin: 0;
	}

	div.tile-head > h2 {
		margin: 0;
	}

	ul.tech {
		margin: 0;
	}

	div.tile-head > p {
		display: none;
	}

	div.tile-head > ul.links {
		display: none;
	}

	ul.tech > li {
		margin: 0;
		font-size: small;
	}

	div.img-wrapper {
		order: 2;
		padding: 1rem;
		width: 100%;
	}

	p.article-align {
		padding: 0 1rem;
	}

	div.link-button {
		font-size: small;
	}

	p.summary-bottom {
		display: block;
	}

	ul.links-bottom {
		display: block;
	}
}